* {
  box-sizing: border-box;
}

html {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  width: 100%;
  max-width: $global-width;
  margin: 0 auto;   
  background-color: #d8b036; 
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;

  @media (min-width: $large + 1) {
    padding: 0 $gutter;
  }

  @media (max-width: $large) {
    padding: 0 $gutter / 2;
  }
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

p {
  color: #cccccc;
}

.container {
  display: flex;

  @media (max-width: $large) {
    flex-wrap: wrap;
  }
}

.widget {
  margin: 0 0 $gutter / 2;
  padding: $gutter / 2;
  color: $text-color;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5 );

  h3 {
    margin-top: 5px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #333333;
    font-family: $accent-font;
    font-weight: 300;
  }

  p {
    line-height: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}