.main {
  @media (min-width: $large + 1) {
    flex: 0 0 calc(100% - 220px - 240px);
    padding: 0 $gutter / 2;
    order: 2;
  }

  @media (max-width: $large) and (min-width: $middle + 1) {
    flex: 0 0 calc(100% - 220px);
    padding-right: 0;
    padding-left: $gutter;
    order: 2;
  }

  @media (max-width: $middle) {
    order: 1;
  }
}