$main-color: #e12727;
$text-color: #eeeeee;
$main-color-hightlighted: darken($main-color, 10%);
$global-width: 1380px;
$left-sidebar-width: 220px;
$right-sidebar-width: 220px;
$gutter: 30px;
$main-font: "Roboto", sans-serif;
$accent-font: "Lora", serif;
$large: 1200px;
$middle: 992px;
$small: 768px;
$xsmall: 576px;
$xxsmall: 480px;